body{
    /* background */
    background-color: #0F0F0F;
}

#container{
    /* background styling */
    background-color: #272727;
    /* border styling */
    border-style: solid;
    border-color: white;
    border-width: 10px;
    border-radius: 15px;
    /* text styling */
    text-align: center;
    color: white;
    font-family: Verdana, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    text-shadow: 4px 4px #ffa6c9;
    /* element styling */
    width: 650px;
    margin: 0 auto;
    padding: 10px;
}

#container img{
    /* image styling */
    border-radius: 15px;
    box-shadow: 4px 4px #ffa6c9;
}

#main-content .recipe-list img{
    /* image styling */
    height: 250px;
    width: 250px;
    margin: 0px 25px 0px 25px;
}

#main-content .recipe-list a{
    /* link styling */
    text-decoration: none;
}